.radio-label {
    color: rgba(0, 0, 0, 0.6);
    padding: 0px 12px;
    font-size: 12px;
    display: block;
}

.radio-error {
    @extend .radio-label;
    color: #f44336;
}

.section {
    height: 14px;
}

.options {
    padding: 12px 12px;
}
